.container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

img
{
    width: 400px;
    transition: all 2s;
}

#img-1:hover
{
    transform: translateZ(500px);
}

#img-2:hover
{
    transform: rotateX(40deg) rotateY(50deg) rotateZ(60deg);
}